<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script
    type="text/javascript"
    src="controle.js">
  </script>

    <title>Escola S Store</title>
</head>

<body>
  
  <nav id="menu-horizontal">
    <ul>
      <li><img src="http://5c485446205b4f67b5cde55f.static-01.com/m/images/98aa965f09310c701e37e42425fbb6158771bdf2.png" height="50"></li>
      <div id="Data-Hora">
        <img src="https://github.com/google/material-design-icons/blob/63c5cb306073a9ecdfd3579f0f696746ab6305f6/ios/action/schedule/materialiconstwotone/black/twotone_schedule_black_36pt.xcassets/twotone_schedule_black_36pt.imageset/twotone_schedule_black_36pt_1x.png?raw=true" height="50">
        <script>horario()</script>
      </div>
  </nav>
</body>
</html>