<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script
    type="text/javascript"
    src="controle.js">
  </script>

  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="imagem_erro"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <div class="container">
    <button id="btn_erro" class="azul" imagens="https://t.ctcdn.com.br/TXRDiz9zg4RRFy6dGyT9CmC9xps=/i261326.jpeg"
    onclick="carrega_imagens($('#imagem_erro'), $(this))">Botão de erro</button>
</div>
<script>mudar_cor()</script>
</body>
</html>