<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script
    type="text/javascript"
    src="controle.js">
  </script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="menu-bar">
    <h1>Seja Bem vindo a </h1>
    <img src="http://5c485446205b4f67b5cde55f.static-01.com/m/images/98aa965f09310c701e37e42425fbb6158771bdf2.png" height="75px">
</div>

<div id="title">
  <h2>Selecione o seu serviço</h2>
</div>

<div id="navigation">
  <img src="https://cdn-icons.flaticon.com/png/512/769/premium/769651.png?token=exp=1637696472~hmac=c99a812a0b23c7a3a5e93118a8b5fdf5"
  height="150px">
  <img src="https://cdn-icons-png.flaticon.com/512/2000/2000920.png"
  height="150px">
  <img src="https://cdn-icons-png.flaticon.com/512/5261/5261261.png" height="150px">
  <img src="https://cdn-icons.flaticon.com/png/512/3156/premium/3156158.png?token=exp=1637696424~hmac=308124d28d616c39bb94802407ce0b28"
  height="150px">
</div>

<div id="tag">
  <p>Ensino Curricular</p>
  <p>Cursos profissionalizantes</p>
  <p>Faça um tour virtual</p>
  <p>Unidade mais próxima</p>
</div>

<div id="conteudo">
  <p>Nota: Esta vítrine virtual esta em fase</p>
  <img src="https://cdn-icons-png.flaticon.com/512/2721/2721278.png"
  height="60px">
</div>

</body>
</html>