<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escola S</title>

  <script
    type="text/javascript"
    src="static\controle.js">
  </script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <div id="menu-bar">
    <h1>Seja Bem vindo a </h1>
    <img src="http://5c485446205b4f67b5cde55f.static-01.com/m/images/98aa965f09310c701e37e42425fbb6158771bdf2.png" height="75px">
</div>

<div id="title">
  <h2>Selecione o seu serviço</h2>
</div>

<div id="navigation">
  <div id="ensino">
    <img id="img_ensino" src="static\img\ensino.png"
    height="150px" onclick="redirecionador('ensino')">
</div>
<div id="cursos">
    <img id="img_cursos" src="static\img\cursos.png"
    height="150px" onclick="redirecionador('cursos')">
</div>
<div id="tour">
    <img id="img_tour" src="static\img\tour.png" height="150px" onclick="redirecionador('tour')">
  </div>
  <div id="maps">
    <img id="img_maps" src="static\img\localizacao_maps.png"
    height="150px" onclick="redirecionador('maps')">
</div>
</div>

<div id="tag">
  <div id = "tag_ensino">
    <p onclick="status_ensino()">Ensino Curricular</p>
  </div>
  <div id="tag_cursos">
    <p onclick="status_cursos()">Cursos profissionalizantes</p>
  </div>
  <div id="tag_tour">
    <p onclick="status_tour()">Faça um tour virtual</p>
  </div>
  <div id="tag_maps">
    <p onclick="status_maps()">Unidade mais próxima</p>
  </div>
</div>

<div id="conteudo">
  <p>Nota: Esta vítrine virtual esta em fase</p>
  <img src="static\img\beta_tester.png"
  height="60px">
</div>

<div id="qr_code">
  <img src="static\img\qrcode_escola_s.png" height="190px">
  
</div>
</body>
</html>